DB_HOST=mariadb
DB_NAME=wordpress_database

WP_DB_USER=wordpress
WP_DB_PASSWORD=wordpress

WP_USER1=user1
WP_PASSWORD1=user1
WP_EMAIL1=user1@admin.com

WP_USER2=user2
WP_PASSWORD2=user2
WP_EMAIL2=user2@normal.com


SITE_URL=mexu.42.fr
SITE_TITLE = mexu

